# Default identity
# Using GitHub provided no reply email address
[user]
	name = Ramanath Nayak
	email = 65753883+ramananayak@users.noreply.github.com

# Zynga user
[includeIf "gitdir:~/Repositories/Work/Zynga/"]
	path = ~/.gitconfig-zynga

[advice]
	addEmptyPathspec = false
	statusHints = false

[alias]
	a = add
	ap = add -p
	amc = am --continue
	b = branch
	bm = branch --merged
	bnm = branch --no-merged
	c = clone
	ca = commit --amend
	cane = commit --amend --no-edit
	cf = commit --fixup
	cm = commit --message
	co = checkout
	cob = checkout -b
	com = !git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	d = diff
	dc = diff --cached
	ds = diff --staged
	dom = diff origin/main
	fo = fetch origin
	fu = "!git log -n 16 --pretty=format:'%h %s' --no-merges | fzf | awk '{print $1}' | xargs -o git commit --fixup"
	g = grep --line-number
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	mbhom = merge-base HEAD origin/main
	mff = merge --ff-only
	ol = log --pretty=oneline
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''%C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	p = push
	po = push origin
	pf = push --force-with-lease --force-if-includes
	prb = pull --rebase
	r = restore
	rs = restore --staged
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	rl = reflog
	riom = rebase --interactive origin/main
	rom = rebase origin/main
	rpo = remote prune origin
	s = status -sb
	sw = switch
	swc = switch -c
	ss = commit --message snapshot --no-gpg-sign
	su = submodule update
	clean-dry = clean -fdn
	undo = reset --soft HEAD~1
	unstage = restore --staged
	wd = diff --word-diff
	wip = !git add -A && git commit -m "WIP" --no-verify
	wt = worktree
	wta = worktree add
	wtl = worktree list
	wtr = worktree remove
	wtp = worktree prune
[color]
	ui = auto
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	whitespace = trailing-space,space-before-tab,-indent-with-non-tab
	untrackedCache = true
	fsmonitor = true
[diff]
	algorithm = histogram
	renamelimit = 8192
	renames = copies
	colorMoved = default
[fetch]
	fsckobjects = false
	prune = true
	prunetags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gitget]
	root = ~/src
[init]
	defaultBranch = main

# URL shorthands

# Use SSH for both push and pull
[url "git@github.com:"]
	insteadOf = "gh:"
	insteadOf = "https://github.com/"
	insteadOf = "git://github.com/"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	insteadOf = "https://gist.github.com/"
	insteadOf = "git://gist.github.com/"

# Zynga corporate GitHub SSH
[url "git@github-ca.corp.zynga.com:"]
	insteadOf = https://github-ca.corp.zynga.com/

[url "git@github.com:ramananayak/"]
	insteadOf = "my:"

[url "git@github-ca.corp.zynga.com:rnayak/"]
	insteadOf = "zynga:"

[pager]
	branch = false
	grep = false
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = false
[rebase]
	autosquash = true
	autostash = true
	updateRefs = true
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[receive]
	fsckobjects = true
[status]
	submoduleSummary = true
[commit]
	verbose = true
[branch]
	sort = -committerdate
[transfer]
	fsckobjects = true
[trim]
	bases = main,gh-pages
