# Make Tab completion faster and case-insensitive
set completion-ignore-case on
set show-all-if-ambiguous on

# Global Vi keybindings for all Readline CLIs (psql, mysql, python, sqlite3, etc.)
set editing-mode vi
set keymap vi-command
