[mysql]
# Visuals
table
show-warnings

# History settings
# MySQL usually stores history in ~/.mysql_history by default
# to store history in .cache/ add this in .zshrc
# export MYSQL_HISTFILE="$HOME/.cache/mysql/.mysql_history"
